.banner{
	background-image: linear-gradient(-225deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 50%), url(../../images/australia3.jpg);
	color: black;
	padding:  130px 0px;
	background-size: cover;
	background-position: center;
}
.banner h1{
	padding-top: 0px;
	font-size: 32px;
	color: black;
}
.banner h2{
	font-size: 30px;
	opacity:  0.8;
	margin-bottom: 120px;
	color: black;
	padding-top: 100px;
}
